
@{
	ViewBag.Title = "Feature";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="best-features-area inner-padding">
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-lg-10">
				<!-- Section Tittle -->
				<div class="row">
					<div class="col-lg-10 col-md-10">
						<div class="section-tittle">
							<h2 style="text-align: center;">Chuỗi cung ứng nông sản</h2>
						</div>
					</div>
				</div>
				<!-- Section caption -->
			</div>
		</div>
	</div>
	<div>
		<img src="~/img/service/supply-chain.png" alt="supply chain" style="width: 90%; padding: 50px; margin: auto; display: block;">
	</div>
</section>
<section class="best-features-area inner-padding">
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-lg-10">
				<!-- Section Tittle -->
				<div class="row">
					<div class="col-lg-10 col-md-10">
						<div class="section-tittle">
							<h2 style="text-align: center;">Mạng BigchainDB</h2>
						</div>
					</div>
				</div>
				<!-- Section caption -->
			</div>
		</div>
	</div>
	<img src="~/img/service/BigchainDB.png" alt="BigchainDB" style="width: 80%; padding: 50px; margin: auto; display: block;">
</section>

