@{
	ViewBag.Title = "BigchainDB Web Server";
}

<!-- Tên đề tài-->
<div class="slider-area">
	<div class="slider-active">
		<div class="single-slider slider-height slider-padding sky-blue d-flex align-items-center">
			<div class="container" style="margin-top: 100px;">
				<div class="row d-flex align-items-center" style="margin: 10px;">
					<div class="hero__caption">
						<h3 data-animation="fadeInUp" data-delay=".4s" style="text-align: center; margin-bottom: 50px;">ĐỀ TÀI NGHIÊN CỨU KHOA HỌC</h3>
						<h2 data-animation="fadeInUp" data-delay=".6s" style="text-align: center;">XÂY DỰNG ỨNG DỤNG TRUY XUẤT NGUỒN GỐC NÔNG SẢN DỰA TRÊN CÔNG NGHỆ BLOCKCHAIN</h2>
						<div style="margin-top: 40px;">
							<h5 data-animation="fadeInUp" data-delay=".8s" style="text-align: justify;">Sinh viên thực hiện:</h5>
							<h4 data-animation="fadeInUp" data-delay="1.0s" style="text-align: center; width: 100%;">
								La Quốc Thắng, Trần Trọng Hiệp, Nguyễn Thành Quốc
							</h4>
							<h5 data-animation="fadeInUp" data-delay="1.0s" style="text-align: center;">
								Lớp CTK40-PM, Khoa Công nghệ Thông tin, Trường Đại học Đà Lạt
							</h5>
							<h5 data-animation="fadeInUp" data-delay=".8s" style="text-align: justify;">
								Giảng viên Hướng dẫn: TS. Trần Ngô Như Khánh
							</h5>
						</div>
						<!-- Slider btn -->
						<div class="slider-btns">
							<!-- Hero-btn -->
							<a data-animation="fadeInLeft" data-delay="1.0s" href="https://www.bigchaindb.com/" class="btn radius-btn" target="_blank" style="text-align: center; float: right;">Tìm hiểu về BigchainDB</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Mục tiêu đề tài -->
<section class="best-features-area">
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-xl-12 col-lg-12">
				<!-- Section Tittle -->
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="section-tittle">
							<h2 style="text-align: center; margin-bottom: 50px;">Mục tiêu đề tài</h2>
						</div>
					</div>
				</div>
				<!-- Section caption -->
				<div class="row d-flex align-items-center">
					<div class="col-lg-12 col-md-12">
						<ul style="list-style: disc;">
							<li><strong>Mục tiêu:</strong> Tìm hiểu và áp dụng công nghệ Blockchain vào xây dựng hệ thống truy xuất nguồn gốc nông sản.</li>
							<li>
								<strong>Nội dung:</strong><br />
								(1) Tìm hiểu kiến trúc của công nghệ chuỗi khối Blockchain;<br />
								(2) Xây dựng hệ thống có sử dụng BigchainDB là một nền tảng dựa trên Blockchain; <br />
								(3) Áp dụng vào một số nông sản tại Đà Lạt.	<br />
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Các framework Blockchain -->
<section class="best-features-area">
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-xl-12 col-lg-12">
				<!-- Section Tittle -->
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="section-tittle">
							<h2 style="text-align: center; margin-bottom: 50px;">Một số framework điển hình cuar Blockchain</h2>
						</div>
					</div>
				</div>
				<!-- Section caption -->
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-6">
						<div class="single-features mb-50">
							<div class="features-icon">
								<img src="~/img/service/ethereum.png" alt="ethereum" />
								<p>Ethereum</p>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6">
						<div class="single-features mb-50">
							<div class="features-icon">
								<img src="~/img/service/hyperledger.png" alt="hyperledger fabric" />
								<p>Hyperledger Fabric</p>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6">
						<div class="single-features mb-50">
							<div class="features-icon">
								<img src="~/img/service/logoBigchainDB.png" alt="bigchaindb" />
								<p>BigchainDB</p>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6">
						<div class="single-features mb-50">
							<div class="features-icon">
								<img src="~/img/service/ripple.png" alt="ripple" />
								<p>Ripple</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Các đặc trưng của BigchainDB -->
<section class="best-features-area">
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-xl-12 col-lg-12">
				<!-- Section Tittle -->
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="section-tittle">
							<h2 style="text-align: center; margin-bottom: 50px;">Những đặc trưng của Blockchain có trong BigchainDB</h2>
						</div>
					</div>
				</div>
				<!-- Section caption -->
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-6">
						<div class="single-features mb-70">
							<div class="features-icon">
								<img src="~/img/shape/central.png" alt="decentralized" />
							</div>
							<div class="features-caption">
								<h3>Tính phi tập trung</h3>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6">
						<div class="single-features mb-70">
							<div class="features-icon">
								<img src="~/img/shape/query.png" alt="query" />
							</div>
							<div class="features-caption">
								<h3>Có thể truy vấn</h3>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6">
						<div class="single-features mb-70">
							<div class="features-icon">
								<img src="~/img/shape/immutability.png" alt="immutability" />
							</div>
							<div class="features-caption">
								<h3>Tính bất biến</h3>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6">
						<div class="single-features mb-70">
							<div class="features-icon">
								<img src="~/img/shape/asset.png" alt="asset" />
							</div>
							<div class="features-caption">
								<h3>Tài sản kỹ thuật số</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Mô hình chuỗi cung ứng nông sản -->
<section class="best-features-area">
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-lg-10">
				<!-- Section Tittle -->
				<div class="row">
					<div class="col-lg-10 col-md-10">
						<div class="section-tittle">
							<h2 style="text-align: center;">Chuỗi cung ứng nông sản</h2>
						</div>
					</div>
				</div>
				<!-- Section caption -->
			</div>
		</div>
	</div>
	<div>
		<img src="~/img/service/supply-chain.png" alt="supply chain" style="width: 90%; padding: 50px; margin: auto; display: block;">
	</div>
</section>

<!-- Mô hình mạng BigchainDB -->
<section class="best-features-area">
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-lg-10">
				<!-- Section Tittle -->
				<div class="row">
					<div class="col-lg-10 col-md-10">
						<div class="section-tittle">
							<h2 style="text-align: center;">Mạng BigchainDB</h2>
						</div>
					</div>
				</div>
				<!-- Section caption -->
			</div>
		</div>
	</div>
	<img src="~/img/service/BigchainDB.png" alt="BigchainDB" style="width: 67%; padding: 50px; margin: auto; display: block;">
</section>

<!-- Tài liệu tham khảo -->
<section class="service-area sky-blue section-padding2">
	<div class="container">
		<!-- Section Tittle -->
		<div class="row d-flex justify-content-center">
			<div class="col-lg-6">
				<div class="section-tittle text-center" style="margin-bottom: 50px;">
					<h2>Tài liệu tham khảo</h2>
				</div>
			</div>
		</div>
		<!-- Section caption -->
		<div class="row">
			<div class="col-xl-4 col-lg-4 col-md-6">
				<div class="services-caption text-center mb-30">
					<div class="service-cap">
						<h4><a href="http://docs.bigchaindb.com/en/latest/" target="_blank">Blockchain Documentation</a></h4>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6">
				<div class="services-caption active text-center mb-30">
					<div class="service-cap">
						<h4><a href="http://docs.bigchaindb.com/projects/server/en/latest/" target="_blank">BigchainDB Server Documentation</a></h4>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6">
				<div class="services-caption text-center mb-30">
					<div class="service-cap">
						<h4><a href="https://github.com/bigchaindb/bigchaindb" target="_blank">BigchainDB Server Github</a></h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
