USE [QLNongSan]
GO
/****** Object:  Table [dbo].[AdminBC]    Script Date: 07/31/2020 9:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[AdminBC](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[pwd] [varchar](1000) NULL,
	[name] [nvarchar](100) NULL,
	[birthday] [datetime] NULL,
	[email] [varchar](500) NULL,
	[adrs] [nvarchar](1000) NULL,
	[phone] [varchar](15) NULL,
	[dateCreated] [datetime] NULL,
	[dateUpdate] [datetime] NULL,
	[deleted] [int] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ColumnSelected]    Script Date: 07/31/2020 9:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColumnSelected](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idType] [int] NOT NULL,
	[name] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NewNoti]    Script Date: 07/31/2020 9:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NewNoti](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [varchar](50) NULL,
	[idProduct] [varchar](50) NULL,
	[dateCreate] [datetime] NULL,
	[detail] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 07/31/2020 9:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[id] [varchar](50) NOT NULL,
	[nameProduct] [nvarchar](1000) NULL,
	[details] [nvarchar](max) NULL,
	[isDeleted] [int] NULL DEFAULT ((0)),
	[number] [int] NULL,
	[imgPath] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductDetail]    Script Date: 07/31/2020 9:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [varchar](50) NOT NULL,
	[idProduct] [varchar](50) NOT NULL,
	[dateCreated] [datetime] NULL,
	[dateReview] [datetime] NULL,
	[isDeleted] [int] NULL DEFAULT ((0)),
	[IsUpBD] [int] NULL DEFAULT ((0)),
	[checkBuy] [int] NULL,
	[idRole] [int] NULL,
	[numberhandling] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[idUser] ASC,
	[idProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductPlantingProcess]    Script Date: 07/31/2020 9:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductPlantingProcess](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idProduct] [varchar](50) NULL,
	[idUser] [varchar](50) NULL,
	[details] [nvarchar](1000) NULL,
	[dateBegin] [datetime] NULL,
	[dateEnd] [datetime] NULL,
	[dateCreated] [datetime] NULL,
	[isDelete] [int] NULL DEFAULT ((0)),
	[isUpBD] [int] NULL DEFAULT ((0)),
	[name] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductTranfer]    Script Date: 07/31/2020 9:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductTranfer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idProduct] [varchar](50) NOT NULL,
	[nameProduct] [nvarchar](1000) NOT NULL,
	[nameUser] [nvarchar](1000) NOT NULL,
	[detail] [nvarchar](max) NULL,
	[idUser] [varchar](50) NOT NULL,
	[numberTranfer] [int] NULL,
	[isClick] [int] NULL,
	[idProductDetail] [int] NULL,
	[company] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QRManager]    Script Date: 07/31/2020 9:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QRManager](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idProduct] [varchar](1000) NOT NULL,
	[linkImg] [varchar](2000) NULL,
	[idUserRequest] [varchar](1000) NOT NULL,
	[amount] [int] NULL,
	[accepted] [int] NULL,
	[dateCreated] [datetime] NULL,
	[dateUpdated] [datetime] NULL,
	[isDeleted] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 07/31/2020 9:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] NOT NULL,
	[name] [nvarchar](1000) NOT NULL,
	[deleted] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserBC]    Script Date: 07/31/2020 9:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserBC](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[pwd] [varchar](1000) NULL,
	[Area] [nvarchar](1000) NOT NULL,
	[City] [nvarchar](1000) NOT NULL,
	[name] [nvarchar](100) NULL,
	[birthday] [datetime] NULL,
	[email] [varchar](500) NULL,
	[adrs] [nvarchar](1000) NULL,
	[phone] [varchar](15) NULL,
	[idRole] [int] NULL,
	[active] [int] NULL,
	[dateCreated] [datetime] NULL,
	[dateUpdate] [datetime] NULL,
	[deleted] [int] NULL DEFAULT ((0)),
	[company] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[Notifications]    Script Date: 07/31/2020 9:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create VIEW [dbo].[Notifications] AS
SELECT NewNoti.id as ID, UserBC.username,UserBC.name,Roles.name as roles,Product.nameProduct, NewNoti.dateCreate
FROM UserBC
LEFT JOIN ProductDetail
ON UserBC.username = ProductDetail.idUser
LEFT JOIN Product
ON Product.id = ProductDetail.idProduct
LEFT JOIN Roles
ON Roles.id=UserBC.idRole
LEFT JOIN NewNoti
ON NewNoti.idUser=ProductDetail.idUser and ProductDetail.idProduct = NewNoti.idProduct
where NewNoti.id IS NOT NULL







GO
/****** Object:  View [dbo].[ProductDetailView]    Script Date: 07/31/2020 9:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ProductDetailView]
AS
SELECT        id = ROW_NUMBER() OVER (ORDER BY 
                             (SELECT        1)), ProductDetail.id AS idProductDetail, dbo.ProductDetail.idUser, dbo.UserBC.name AS nameOfUser, dbo. Product .id AS idProduct, dbo. Product .nameProduct, dbo. Product .details, 
dbo.ProductDetail.dateCreated, dbo.ProductDetail.dateReview, UserBC.email, UserBC.adrs, UserBC.phone, UserBC.idRole, ProductDetail.IsUpBD, UserBC.Area AS userArea, UserBC.City AS userCity, 
ProductDetail.checkBuy, ProductDetail.numberhandling, accepted = ISNULL(QRManager.accepted, - 1), dbo.UserBC.company AS company, imgPath
FROM            dbo.ProductDetail LEFT JOIN
                         dbo. Product ON dbo. Product .id = dbo.ProductDetail.idProduct LEFT JOIN
                         dbo.UserBC ON dbo.ProductDetail.idUser = dbo.UserBC.username LEFT JOIN
                         dbo.QRManager ON dbo. Product .id = dbo.QRManager.idProduct

GO
/****** Object:  View [dbo].[ProductSentView]    Script Date: 07/31/2020 9:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[ProductSentView] as
select id = ROW_NUMBER() OVER (ORDER BY (SELECT 1)), ProductDetail.idProduct, Product.nameProduct, idUser, UserBC.name as nameOfUser,details, UserBC.idRole, sentNumber from 
ProductDetail
left join UserBC on ProductDetail.idUser = UserBC.username
left join Product on Product.id = ProductDetail.idProduct
left join (select idProduct, count(id) as sentNumber from ProductDetail group by idProduct) as a on ProductDetail.idProduct = a.idProduct




GO
SET IDENTITY_INSERT [dbo].[AdminBC] ON 

INSERT [dbo].[AdminBC] ([id], [username], [pwd], [name], [birthday], [email], [adrs], [phone], [dateCreated], [dateUpdate], [deleted]) VALUES (1, N'qq', N'c4ca4238a0b923820dcc509a6f75849b', N'Thanh Quoc', CAST(N'1998-05-28 00:00:00.000' AS DateTime), N'a@g.c', N'Ko', N'0905061131', CAST(N'2020-06-27 15:21:03.337' AS DateTime), CAST(N'2020-06-27 15:21:03.337' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[AdminBC] OFF
SET IDENTITY_INSERT [dbo].[ColumnSelected] ON 

INSERT [dbo].[ColumnSelected] ([id], [idType], [name]) VALUES (1, 1, N'Gieo giống')
INSERT [dbo].[ColumnSelected] ([id], [idType], [name]) VALUES (2, 1, N'Bón phân')
INSERT [dbo].[ColumnSelected] ([id], [idType], [name]) VALUES (3, 1, N'Tưới nước')
SET IDENTITY_INSERT [dbo].[ColumnSelected] OFF
SET IDENTITY_INSERT [dbo].[NewNoti] ON 

INSERT [dbo].[NewNoti] ([id], [idUser], [idProduct], [dateCreate], [detail]) VALUES (1, N'ongtam', N'CAIXANH01', CAST(N'2020-06-29 17:09:51.990' AS DateTime), NULL)
INSERT [dbo].[NewNoti] ([id], [idUser], [idProduct], [dateCreate], [detail]) VALUES (2, N'nongdan1', N'KHOAITAY01', CAST(N'2020-06-29 17:19:59.857' AS DateTime), NULL)
INSERT [dbo].[NewNoti] ([id], [idUser], [idProduct], [dateCreate], [detail]) VALUES (3, N'nongdan1', N'CHUOILABA01', CAST(N'2020-06-29 17:22:25.483' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[NewNoti] OFF
INSERT [dbo].[Product] ([id], [nameProduct], [details], [isDeleted], [number], [imgPath]) VALUES (N'CAIXANH01', N'Cải bẹ xanh', N'Rau cải bẹ xanh có chứa rất nhiều các loại vitamin A, B, C, K, axit nicotic, catoten, abumin… Nó còn được các chuyên gia dinh dưỡng khuyên dùng vì có nhiều lợi ích đối với sức khỏe cũng như có tác dụng phòng chống bệnh tật.', 0, 2000, NULL)
INSERT [dbo].[Product] ([id], [nameProduct], [details], [isDeleted], [number], [imgPath]) VALUES (N'CHUOILABA01', N'Chuối Laba', N'Loại chuối ngon, trái bự. Mỗi buồng cho ra hơn chục nải, nặng trên dưới 30 kg, quả lại thơm ngon, bảo quản được lâu nên được người tiêu dùng rất ưa chuộng. Đặc biệt, bất kể mùa đông hay mùa hạ, màu sắc trái chín lúc nào cũng vàng tươi như dùng hoá chất bảo vệ.', 0, 1500, NULL)
INSERT [dbo].[Product] ([id], [nameProduct], [details], [isDeleted], [number], [imgPath]) VALUES (N'DAUTAY01', N'Dâu tây mỹ đá', N'Dâu tây Mỹ Đá là giống dâu truyền thống được trồng ngoài trời và gắn liền với bao thế hệ trồng dâu ở Đà Lạt.', 0, 800, NULL)
SET IDENTITY_INSERT [dbo].[ProductDetail] ON 

INSERT [dbo].[ProductDetail] ([id], [idUser], [idProduct], [dateCreated], [dateReview], [isDeleted], [IsUpBD], [checkBuy], [idRole], [numberhandling]) VALUES (1, N'ongtam', N'CAIXANH01', CAST(N'2020-05-21 00:00:00.000' AS DateTime), CAST(N'2020-06-25 00:00:00.000' AS DateTime), 0, 1, NULL, 1, 2000)
INSERT [dbo].[ProductDetail] ([id], [idUser], [idProduct], [dateCreated], [dateReview], [isDeleted], [IsUpBD], [checkBuy], [idRole], [numberhandling]) VALUES (3, N'nongdan1', N'CHUOILABA01', CAST(N'2020-03-01 00:00:00.000' AS DateTime), CAST(N'2020-06-26 00:00:00.000' AS DateTime), 0, 1, NULL, 1, 0)
INSERT [dbo].[ProductDetail] ([id], [idUser], [idProduct], [dateCreated], [dateReview], [isDeleted], [IsUpBD], [checkBuy], [idRole], [numberhandling]) VALUES (4, N'ongtam', N'DAUTAY01', CAST(N'2020-04-01 00:00:00.000' AS DateTime), CAST(N'2020-06-01 00:00:00.000' AS DateTime), 0, 1, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[ProductDetail] OFF
SET IDENTITY_INSERT [dbo].[ProductPlantingProcess] ON 

INSERT [dbo].[ProductPlantingProcess] ([id], [idProduct], [idUser], [details], [dateBegin], [dateEnd], [dateCreated], [isDelete], [isUpBD], [name]) VALUES (1, N'CAIXANH01', N'ongtam', N'Gieo hạt cải trực tiếp lên giá thể đất sét nung (viên sỏi nhẹ) trong khay rau Aquaponics', CAST(N'2020-05-21 00:00:00.000' AS DateTime), CAST(N'2020-05-21 00:00:00.000' AS DateTime), CAST(N'2020-06-29 17:10:26.997' AS DateTime), 0, 0, N'Gieo giống')
INSERT [dbo].[ProductPlantingProcess] ([id], [idProduct], [idUser], [details], [dateBegin], [dateEnd], [dateCreated], [isDelete], [isUpBD], [name]) VALUES (2, N'CAIXANH01', N'ongtam', N'Tưới nước ngày 2 lần vào lúc sáng sớm và chiều tối.', CAST(N'2020-05-21 00:00:00.000' AS DateTime), CAST(N'2020-05-21 00:00:00.000' AS DateTime), CAST(N'2020-06-29 17:11:59.127' AS DateTime), 0, 0, N'Tưới nước')
INSERT [dbo].[ProductPlantingProcess] ([id], [idProduct], [idUser], [details], [dateBegin], [dateEnd], [dateCreated], [isDelete], [isUpBD], [name]) VALUES (3, N'CAIXANH01', N'ongtam', N'Tưới nước ngày 2 lần vào lúc sáng sớm và chiều tối.', CAST(N'2020-05-22 00:00:00.000' AS DateTime), CAST(N'2020-05-22 00:00:00.000' AS DateTime), CAST(N'2020-06-29 17:12:17.077' AS DateTime), 0, 0, N'Tưới nước')
SET IDENTITY_INSERT [dbo].[ProductPlantingProcess] OFF
SET IDENTITY_INSERT [dbo].[ProductTranfer] ON 

INSERT [dbo].[ProductTranfer] ([id], [idProduct], [nameProduct], [nameUser], [detail], [idUser], [numberTranfer], [isClick], [idProductDetail], [company]) VALUES (1, N'DAUTAY01', N'Dâu tây mỹ đá', N'sieuthixanh', NULL, N'giaohangtietkiem', 800, 1, 5, N'Giao Hàng Tiết Kiệm')
INSERT [dbo].[ProductTranfer] ([id], [idProduct], [nameProduct], [nameUser], [detail], [idUser], [numberTranfer], [isClick], [idProductDetail], [company]) VALUES (2, N'CHUOILABA01', N'Chuối Laba', N'sieuthibigcdalat', NULL, N'giaohangtietkiem', 1500, 1, 7, N'Giao Hàng Tiết Kiệm')
INSERT [dbo].[ProductTranfer] ([id], [idProduct], [nameProduct], [nameUser], [detail], [idUser], [numberTranfer], [isClick], [idProductDetail], [company]) VALUES (3, N'KHOAITAY01', N'Khoai tây Đà Lạt', N'sieuthixanh', N'Giao hàng quen thuộc', N'giaohangnhanh', 3000, 1, 10, N'Giao Hàng Nhanh')
SET IDENTITY_INSERT [dbo].[ProductTranfer] OFF
SET IDENTITY_INSERT [dbo].[UserBC] ON 

INSERT [dbo].[UserBC] ([id], [username], [pwd], [Area], [City], [name], [birthday], [email], [adrs], [phone], [idRole], [active], [dateCreated], [dateUpdate], [deleted], [company]) VALUES (1, N'nongdan1', N'c4ca4238a0b923820dcc509a6f75849b', N'Lâm Đồng', N'Thành Phố Đà Lạt', N'nongdan1', CAST(N'1995-04-22 00:00:00.000' AS DateTime), N'nongdan1@gmail.com', N'92 CBQ', N'0905061131', 1, 1, CAST(N'2020-06-29 16:52:08.147' AS DateTime), CAST(N'2020-06-29 16:52:08.147' AS DateTime), 0, N'Vườn chuối LaBa')
INSERT [dbo].[UserBC] ([id], [username], [pwd], [Area], [City], [name], [birthday], [email], [adrs], [phone], [idRole], [active], [dateCreated], [dateUpdate], [deleted], [company]) VALUES (2, N'giaohangtietkiem', N'c4ca4238a0b923820dcc509a6f75849b', N'Lâm Đồng', N'Thành Phố Bảo Lộc', N'giaohangtietkiem', CAST(N'2005-12-05 00:00:00.000' AS DateTime), N'vanchuyen1@gmail.com', N'88 Xô Viết', N'0905061131', 2, 1, CAST(N'2020-06-29 16:59:53.077' AS DateTime), CAST(N'2020-06-29 16:59:53.077' AS DateTime), 0, N'Giao Hàng Tiết Kiệm')
INSERT [dbo].[UserBC] ([id], [username], [pwd], [Area], [City], [name], [birthday], [email], [adrs], [phone], [idRole], [active], [dateCreated], [dateUpdate], [deleted], [company]) VALUES (3, N'giaohangnhanh', N'c4ca4238a0b923820dcc509a6f75849b', N'Vĩnh Long', N'Huyện Vũng Liêm', N'giaohangnhanh', CAST(N'2010-05-05 00:00:00.000' AS DateTime), N'giaohangnhanh@gmail.com', N'213 Phan Đình Phùng', N'0908070655', 2, 1, CAST(N'2020-06-29 17:01:02.020' AS DateTime), CAST(N'2020-06-29 17:01:02.020' AS DateTime), 0, N'Giao Hàng Nhanh')
SET IDENTITY_INSERT [dbo].[UserBC] OFF
/****** Object:  Index [UQ__AdminBC__F3DBC572A9B951EF]    Script Date: 07/31/2020 9:04:50 AM ******/
ALTER TABLE [dbo].[AdminBC] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__UserBC__F3DBC5726C9637BD]    Script Date: 07/31/2020 9:04:50 AM ******/
ALTER TABLE [dbo].[UserBC] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QRManager] ADD  DEFAULT ((0)) FOR [amount]
GO
ALTER TABLE [dbo].[QRManager] ADD  DEFAULT ((0)) FOR [accepted]
GO
ALTER TABLE [dbo].[QRManager] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((0)) FOR [deleted]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[21] 2[21] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ProductDetailView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ProductDetailView'
GO
