<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact V14</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/Registration/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link href="~/Content/Registration/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Registration/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Registration/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Registration/vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Registration/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Registration/vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Registration/vendor/select2/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Registration/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Registration/css/util.css" rel="stylesheet" />
    <link href="~/Content/Registration/css/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>
    <main>
        @RenderBody()
    </main>
</body>
</html>
