
@{
	ViewBag.Title = "Login";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/login.css">
<section style="padding:100px;">
	<div class="container">
		<div class="login-form">
			<a style="border-radius: 5px;" id="btnLoginFB" onclick="LockGO()" class="btn btn-lg btn-facebook btn-block text-uppercase" href="/User/LoginFacebook">
				<i class="fab fa-facebook-f mr-2"></i>
				Đăng nhập
			</a>
			<form action="@Url.Action("LoginWithGooglePlus", "User")" method="post" style="background:none;box-shadow:none;padding:0;margin-top:10px">
				@Html.AntiForgeryToken()
				<button type="submit" style="border-radius:7px" class="btn btn-lg btn-google btn-block text-uppercase" id="btnLoginGO" onclick="LockFB()"><i class="fab fa-google mr-2" onclick="LockFB()"></i>  Đăng nhập </button>
			</form>
		</div>
	</div>
</section>
<script>
    function LockFB() {
        $('#btnLoginFB').addClass('disabled');
    }
    function LockGO() {
        $('#btnLoginGO').addClass('disabled');
    }
    function LogInNormal() {
        var data = {
            "userid": $("#userid").val(),
            "password": $("#password").val()
        };
        $.ajax({
            url: "/Home/ValidateUser",
            type: "POST",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json",
            success: function (response) {
                if (response.Success) {
                    if (response.Success == "Admin")
                    {
                        document.location.href = "/Admin";
                    }
                    else
                    {
                        document.location.href = "/Home/index";
                    }

                }
                else {
                    alert("Sai tên đăng nhập hoặc password");
                    window.location.href = "@Url.Action("Login", "Home")";
                }
            },
            error: function () {
                console.log('Login Failed!!!');
            }
        });
    }
    $("#userid").keyup(function (event) {
        if (event.keyCode == 13) {
            $("#btnEnter").click();
        }
    });
    $("#password").keyup(function (event) {
        if (event.keyCode == 13) {
            $("#btnEnter").click();
        }
    });
</script>

