
@{
    ViewBag.Title = "NoActiveLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:10%;">
    <h2 style="text-align:center;margin-bottom:50px">Tài khoản chưa được kích hoạt đang chờ admin kiểm duyệt</h2>
</div>
